.navbar-container{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.container-carty{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}